<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MusicApp.Properties.Settings.BD17197ConnectionString"
            connectionString="Data Source=regulus;Initial Catalog=BD17197;Persist Security Info=True;User ID=BD17197;Password=14060307"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>